.card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form-title {
	text-align: center;
}

.card {
	width: 200px;
	height: 370px;
	box-shadow: 3px 3px 10px 0 #ccc;
	padding-bottom: 10px;
	margin-top: 20px;
}

.card-image {
	width: 100%;
	height: 180px;
}

.card-image img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.block-text {
	width: 180px;
	height: 80px;
	padding: 10px;
	font-size: 12px;
}

.card-item__price {
	color: green;
	text-align: center;
	font-size: 20px;
}

.card-button {
	position: relative;
	left: 50%;
	transform: translate(-50%, 0);
	width: 60px;
	height: 15px;
	border-radius: 1px;
	color: white;
	background-color: red;
	cursor: pointer;
	font-size: 8px;
	opacity: 1;
	display: flex;
	justify-content: center;
}
